#main.row-fluid
- title t('activerecord.header.sepa_header')
- if can?(:edit, @person) and not @person.refund_locked
  = standard_form(@person, {url: '/groups/' + params[:group_id] + '/people/'+ params[:id] + '/payment',  method: :put}) do |f|
    = f.error_messages
    = f.labeled_input_fields(:sepa_name,
      :sepa_address,
      :sepa_zip_code,
      :sepa_town,
      :sepa_iban)
    = render_attrs(@person,:payed)
    %dl{:class => "dl-horizontal"}
      %dt{:class => "muted"}
        = t('activerecord.text.recieved_benefits_info')
      %dd
        = (@person.payed - @person.refund).to_s
    = render_attrs(@person,:refund)
    = f.labeled_input_fields(:donation)
    %dl{:class => "dl-horizontal"}
      %dt{:class => "muted"}
        = " "
      %dd
        = t('activerecord.text.donation_value_info')
    %dl{:class => "dl-horizontal"}
      %dt{:class => "muted"}
        = " "
      %dd
        = t('activerecord.text.donation_info')
    = form_buttons(f, submit_label: t('activerecord.button.save'), cancel_url: person_path(@person))

