#main.row-fluid
- if can?(:show, @person)
    = render_attrs(@person, 
                :sepa_name,
                :sepa_address,
                :sepa_zip_code,
                :sepa_town,
                :sepa_iban)
    = render_attrs(@person,
                :payed)
    %dl{:class => "dl-horizontal"}
        %dt{:class => "muted"}
            = t('activerecord.text.recieved_benefits_info')
        %dd
            = (@person.payed - @person.refund).to_s
    = render_attrs(@person,  :refund,
                :donation)
    %dl{:class => "dl-horizontal"}
        %dt{:class => "muted"}
            = t('activerecord.text.refund_donation')
        %dd
            = (@person.refund - @person.donation).to_s

- if can?(:edit, @person) and not @person.refund_locked
    = action_button(t('activerecord.button.edit'),
                    '/groups/' + params[:group_id] + '/people/'+ params[:id] + '/payment/edit',
                    :edit,
                    remote: false,
                    method: :get,
                    rel: :tooltip,
                    title: t('activerecord.button.edit_hint'))

- if can?(:edit, @person) and @person.refund_locked and @person.donation > 0
    = action_button(t('activerecord.button.print_donation_document'),
                    '/groups/' + params[:group_id] + '/people/'+ params[:id] + '/print/donation',
                    :envelope,
                    remote: false,
                    method: :get,
                    rel: :tooltip,
                    title: t('activerecord.button.print_donation_document'))
- elsif can?(:edit, @person) and not @person.refund_locked and @check_iban
    = action_button((@person.refund - @person.donation).to_s + t('activerecord.button.activate_refund'),
                    '/groups/' + params[:group_id] + '/people/'+ params[:id] + '/print/donation',
                    :envelope,
                    remote: false,
                    method: :get,
                    rel: :tooltip,
                    title: t('activerecord.button.activate_refund'))
